{#{% load static %}#}
{% extends 'ExchangeRate/Home.html' %}
{{ data }}

{#</head>#}


<body>
<style>
    {#h1 {#}
    {#    font-size: 36px;#}
    {#    line-height: 40px;#}
    {#    }#}
    h3 {
        font-size: 24px;
        text-align: center;
        line-height: 40px;
    }

    h5 {
        font-size: 14px;
        text-align: right;
        line-height: 20px;
    }


    .content-table {
        border-collapse: collapse;
    {#padding-left: inherit;#} margin-left: auto;
        margin-right: auto;
        font-size: 1em;
        min-width: 400px;
    }


    .content-table thead th {
        background-color: aquamarine;
        color: black;
        text-align: center;
        font-weight: bold;
    }


</style>

{% block content %}

    <table class="content-table">
        <thead>

        <br>
        <br>


        <h3> Selected Currency : {{ currency }} </h3>
        <br>
        <br>
        </tr>
        <tr class="content-table">
            <th> Bank</th>
            <th> Buying Rate</th>
            <th> Selling Rate</th>

        </tr>
        </thead>
        <tbody>

        {% for item in context %}
            <tr>
                <td> {{ item.bank }}</td>
                <td> {{ item.buying_rate }}</td>
                <td> {{ item.selling_rate }}</td>

            </tr>

        {% endfor %}

        </tbody>
    </table>
    <h5> Last update on {{ last_updated }} (BST) </h5>

{% endblock %}

